:where(:nth-child(6),
       :nth-child(6) #id){
	inset:0;
}
:where(:nth-last-child(7),
       :nth-last-child(7 ) #id){
	inset:0;
}
:where(:nth-of-type(8) #a,
       :nth-of-type(8) #b,
       :nth-of-type(8) #c){
	inset:0;
}
:where(:nth-last-of-type(9)   #a,
       :nth-last-of-type(9 )  #b,
       :nth-last-of-type( 9)  #c,
       :nth-last-of-type( 9 ) #d,
       :nth-last-of-type(9)   #e){
	inset:0;
}
:where(:nth-child(6),
       :nth-last-child(6),
       :nth-of-type(6),
       :nth-last-of-type(6)){
	inset:0;
}
:is(:nth-child(6),
    :nth-last-child(6),
    :nth-of-type(6),
    :nth-last-of-type(6)){
	inset:0;
}
:not(:nth-child(6),
     :nth-last-child(6),
     :nth-of-type(6),
     :nth-last-of-type(6)){
	inset:0;
}
